table {
    font-family: 'Times New Roman', Times, serif;
}

table td {
    color: black;
    border: 1px #adadad solid;
}

table th {
    color: black;
    border: 1px #adadad solid;
}

table tr {
    color: black;
    border: 1px #adadad solid;
}

.portfolio {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sharetype {
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 23px;
}

.price {
    color: #3eb1b3;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 33px;
}

.mainDivContainer {
    display: grid;
    grid-template-columns: 82% 18%;
    margin-bottom: 10px;
    grid-gap: 10px;
}

.mainDivContainerList {
    padding: 7px;
    text-align: center;
    background-color: #f3f3f3;
}

.mainDivContainerList .mainDivContainer_List {
    background-color: #efeeee;
    padding: 10px;
}

.mainDivContainerList .portfolio label {
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: 26% 21% 21% 22% 8%;
    margin-bottom: 10px;
    grid-gap: 10px;
}

.grid-item {
    padding: 7px;
    text-align: center;
    background-color: #efeeee;
    display: flex;
}

.iconList {
    font-size: 30px;
}

.doller {
    font-size: 27px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.sharediv {
    text-align: left;
}

.iShares {
    font-size: 27px;
    font-weight: bold;
    color: #92cd37;
    font-family: 'Times New Roman', Times, serif;
}

.bydiv {
    position: relative;
    right: -40px;
    font-family: 'Times New Roman', Times, serif;
}

.scriptDiv {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.enquiry {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: grey;
}

.grid_container {
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 10px;
    padding: 10px;
}

.grid_item {
    /* padding: 20px; */
    text-align: center;
    background-color: #fbfbfb;
}

.grid_item_list_container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 10px;
    /* padding: 10px; */
}

.grid_item_list {
    /* padding: 20px; */
    text-align: left;
    background-color: #fbfbfb;
    color: gray;
}

.quantityDiv .firstchild {
    display: flex;
    grid-column-gap: 5px;
    width: 200px
}

.quantityDiv .secondChild {
    display: flex;
    grid-column-gap: 5px;
    width: 200px
}

.quantityDiv .thirdChild {
    display: flex;
    grid-column-gap: 5px;
    width: 200px
}

.quantityDiv .qtylabel {
    /* display: flex;
    justify-content: space-between;
    width: 100%; */
    color: gray;
}

.quantityDiv .qtylabel .firstlabel {
    min-width: 100px;
    color: gray;
    text-align: left;
}

.quantityDiv .qtylabel .lastLabel {
    color: black;
    font-weight: bold;
}


.MKTValue {
    width: 200px;
}

.MKTValue .returnD {
    color: gray;

}

.MKTValue .firstmktvalue {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
}

.MKTValue .secondmktvalue {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.MKTValue .secondmktvalue .returnvalue {
    font-weight: bold;
}


.unrelizedDiv {
    width: 200px;
}

.unrelizedDiv .unfirstDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 4px;
    font-weight: bold;
}

.unrelizedDiv .unsecondDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 4px;
    /* font-weight: bold; */
}

.unrelizedDiv .return {
    color: gray;
}

.unrelizedDiv .returnarrowdiv {
    font-weight: bold;
}

.grid_item_list_container_marketValue {
    display: grid;
    font-family: 'Times New Roman', Times, serif;
}

.grid_item_list_marketValue {
    text-align: left;
    background-color: #fbfbfb;
    color: gray;
}

.marketValue {
    /* float: right; */
    color: black;
}

.buttonDivContainer {
    display: grid;
    font-family: 'Times New Roman', Times, serif;
    padding: 8px 0px;
    /* padding: 10px; */
}

.buttonDivList {
    /* text-align: left; */
    background-color: #fbfbfb;
    color: #f59300;
    border: 1px #f59300 solid;
    padding: 5px 15px;
    border-radius: 5px;
    margin-bottom: 4px;
    width: 60px;
    margin: auto;
}

.return-val {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.tryDiv {
    height: 10px;
    /* background: #3580c1; */
    width: 50%;
    margin: auto;
    border-radius: 10px;
}

.tryDiv .tryinside {
    height: 10px;
    background: #3580c1;
    /* width: 50%; */
    /* margin: auto; */
    border-radius: 10px;
}

.negative {
    background: red;
    height: 10px;
    width: 50%;
    display: flex;
    border-radius: 5px 0px 0px 5px;
}

.positive {
    background: #e9ecef;
    height: 10px;
    width: 50%;
    display: flex;
    border-radius: 0px 5px 5px 0px;
}

.negative div {
    line-height: 10px;
    background: #e9ecef;
    width: 100%;
    border-radius: 5px 0px 0px 5px;
}

.positive div {
    line-height: 10px;
    background: rgb(12, 206, 12);
    width: 100%;
}

.btn-org {
    color: orange;
    border-color: orange;
    font-weight: 500;
    margin-bottom: 4px;
}

.btn-org:hover {
    color: #ffffff;
    background-color: orange;
    outline: none;
}

.progressBar {
    height: 10%;
    /* color: green; */
}

.MuiLinearProgress-root {
    height: 10px !important;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin-top: 13px;
}

.MuiLinearProgress-barColorPrimary {
    background-color: rgb(12, 206, 12) !important;
}

.MuiLinearProgress-colorPrimary {
    background-color: #e9ecef !important;
}

.DonutChart {
    height: 150px;
    width: 200px;
    font-size: 44px !important;
    justify-content: space-around;
    display: flex;
}

path.DonutChart-arcs-path {
    opacity: 1;
}

.returnarrowdiv {}

.iconup {
    color: rgb(12, 206, 12);
}

.icondown {
    color: red;
}

.DonutChart .DonutChart-legend {}

.firstDiv {

    align-items: center;
}

.firstDiv .icon {
    font-size: 26px;
}

.firstDiv .scrip {
    font-size: 16px;
    color: gray;
}

.firstDiv .priceD {
    font-size: 30px;
    color: #48bfcf;
    font-weight: bold;
}

.firstDiv .childSecond {
    align-items: center;
}

.firstDiv .ishareImage {
    height: 40px;
}

.firstDiv ._Scrip {
    font-size: 18px;
    font-weight: bold;
}

.firstDiv .childthird {
    font-weight: bold;
    text-align: left;
}

.firstDiv .enquiryD {
    color: gray;
}


body {
    font-family: 'Times New Roman', Times, serif !important;
    background-color: #f3f3f3 !important;
}